<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prcse.jamjar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="JarLid"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.prcse.jamjar.ActivitySpotlight"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.prcse.jamjar.Artists"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_artists"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityArtistsGrid"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_artists"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityArtistDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_artist_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityEventDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_event_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityVenuesGrid"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_venues_grid"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityToursGrid"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_tour_grid"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivitySearch"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_activity_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityLogin"
            android:label="@string/title_activity_activity_login" >
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityBook"
            android:label="@string/title_activity_activity_book"
            android:parentActivityName="com.prcse.jamjar.ActivityArtistDetail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.prcse.jamjar.ActivityArtistDetail" />
        </activity>
        <activity
            android:name="com.prcse.jamjar.ActivityBooking"
            android:label="@string/title_activity_activity_booking" >
        </activity>
    </application>

</manifest>